# Backend
backend/**/bin/
backend/**/obj/
backend/**/.vs/
backend/**/*.user
backend/**/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# OS
.DS_Store